:root {
    --c-bg-body-top: #009587;
    --c-bg-body-bot: #dad9cf;
    --c-bg-white: white;

    --profile-wrapper-height: 80px;  /*    REFERS TO ASIDE HEADER PROFILE AND CHAT HEADER CONTACT PROFILE    */

    --aside-width: 400px;
    --aside-contact-height: 80px;  /*    CONTACT HEIGHT (CONTENT AND PARENT CONTAINER ADAPTS)    */

    --elements-padding: 10px;
    --padding-header: 10px;
    --ico-size: 1.4rem;

    --link-transition: .2s;
    --link-opacity: .6;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, var(--c-bg-body-bot) 80%, var(--c-bg-body-top) 20%);
}

#app {
    height: 80vh;
    width: 80vw;
    display: flex;
}

i {
    cursor: pointer;
    opacity: var(--link-opacity);
    transition: var(--link-transition);
    padding: 10px;
}

i:hover {
    opacity: .9;
}

.input-label-icon i {
    opacity: 1;
    cursor: default;
}
