:root {
    --c-bg-body-top: #009587;
    --c-bg-body-bot: #dad9cf;
    --c-bg-white: white;
    --ico-c-light-grey: #b0b0b0;
    --aside-width: 400px;
    --search-contacts-height: 30px;
    --elements-padding: 10px;
    --profile-wrapper-height: 80px;
    --padding-header: 10px;
    --ico-size: 1.4rem;

    --link-transition: .3s;
    --link-opacity: .6;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, var(--c-bg-body-bot) 80%, var(--c-bg-body-top) 20%);
}

#app {
    height: 80vh;
    width: 80vw;
    display: flex;
}

i {
    cursor: pointer;
    opacity: var(--link-opacity);
    transition: var(--link-transition);
}

i:hover {
    opacity: .9;
}
